body{
  background-color: black;
}

h1{
    color:blue;
    font-size:50px;
    padding-left:100px;
    padding-right:100px;
    padding-bottom:22px;
    padding-top:10px;
    margin-left:30px;
    margin-right:50px;
    margin-bottom:90px;
    border:8px dashed red;
    background-color:aqua;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    letter-spacing:6px;
    margin-right: 800px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: ab99 5s infinite;
  }
  h2{
    color:red;
    font-size: 40px;
  }

  .style1{
    color:gold;
    font-size:40px;
    animation: ab99 5s infinite;
  }

  .style2{
    color:darkblue;
    font-size:90px;
    border-top:10px solid olivedrab;
    animation: cd99 5s infinite;
    
  }
  @keyframes ab99{
         from{background-color: black;}
         to{background-color: lime;}
         from{font-size: 40px;}
         to{font-size:20px}
         
  }
  @keyframes cd99{
    from{background-color:darkorange;}
         to{background-color:darkorchid;}
         from{font-size: 40px;}
         to{font-size:20px}
  }