h1{
    color:blue;
    font-size:40px;
    text-align: center;
    padding-left:50px;
    padding-right:150px;
    padding-bottom:22px;
    padding-top:10px;
    margin-left:520px;
    margin-right:90px;
    margin-bottom:90px;
    background-color:blue;
    margin-right: 800px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    margin-top: 250px;
    background-color:blue;
    
}